# {{ page.title }}

This SQL Table is a <strong>PROTOTYPE</strong> – version # 0.2a.
<br>>Its data is a snapshot as of Monday, August 20th, 2026.

Use the <strong>>Search all records</strong> box to find records across all fields.

Use the <strong>Filter ...</strong> boxes beneath a column name to narrow results.

Click a <strong>Column Heading</strong> to sort it in ascending order; click it again to sort in descending order.

Refresh the webpage to clear all filters and search terms.

<em>Results are shown 1000 records at a time.</em>
