<link rel="apple-touch-icon" href="../assets/images/website/favicon-256x256.png">
<link rel="icon" type="image/png" href="../assets/images/website/favicon-256x256.png" sizes="256x256">
<link rel="icon" type="image/png" href="../assets/images/website/favicon-128x128.png" sizes="128x128">
<link rel="icon" type="image/png" href="../assets/images/website/favicon-64x64.png"   sizes="64x64">
<link rel="icon" type="image/png" href="../assets/images/website/favicon-48x48.png"   sizes="48x48">
<link rel="icon" type="image/png" href="../assets/images/website/favicon-32x32.png"   sizes="32x32">
<link rel="icon" type="image/png" href="../assets/images/website/favicon-16x16.png"   sizes="16x16">